body {
    height: 4000px;
    background-color: azure;
    font-family: 'Inconsolata';
    width: 650px;
}

.gray {
    color: gray;
}

.col {
    font-size: 36px;
    letter-spacing: 13px;
}

span:nth-child(2) {
    position: fixed;
}

span:nth-child(3) {
    margin-top: 100px;
    display: inline-block;
    margin-left: 16px;
}

span:nth-child(3) > span:first-child {
    margin-left: 30px;
    display: inline-block;
}

span:nth-child(4) {
    color: pink;
    float: right;
}